alabaster==0.7.12
annotated-types==0.6.0
asgiref==3.7.2
asttokens==2.4.1
attrs==22.1.0
Automat==22.10.0
Babel==2.10.3
bcrypt==3.2.0
beautifulsoup4==4.12.2
bitstring==3.1.9
blinker==1.7.0
blis==0.7.11
bottle==0.12.23
bottle-websocket==0.2.9
Brlapi==0.8.3
bs4==0.0.1
catalogue==2.0.10
Cerberus==1.3.5
certifi==2022.9.24
chardet==4.0.0
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.16.0
cloudscraper==1.2.71
colorama==0.4.6
colorlog==6.7.0
comm==0.2.2
command-not-found==0.3
confection==0.1.4
configobj==5.0.8
configparser==6.0.1
contourpy==1.2.0
coverage==7.4.3
crypto==1.4.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
cymem==2.0.8
data==0.4
DataProperty==1.0.1
dbus-python==1.2.18
debugpy==1.8.1
decorator==5.1.1
defer==1.0.6
dill==0.3.7
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.0
django-registration==2.0.4
django-sortedm2m==1.2.2
djangorestframework==3.14.0
dlib==19.24.2
docutils==0.17.1
duplicity==0.8.21
Eel==0.14.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.1.2
executing==2.0.1
ExifRead==2.1.2
face-recognition==1.3.0
face-recognition-models==0.3.0
fasteners==0.14.1
filelock==3.13.1
fitz==0.0.1.dev2
flake8==5.0.4
Flask==3.0.2
fonttools==4.50.0
funcsigs==1.0.2
future==0.18.2
geographiclib==2.0
geopy==2.4.1
gevent==22.10.1
gevent-websocket==0.10.1
git-filter-repo==2.34.0
gitdb==4.0.10
GitPython==3.1.17
graphviz==0.20.3
greenlet==1.1.3.post0
httplib2==0.20.2
icecream==2.1.3
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.24.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.3
joblib==1.4.2
jsonschema==4.16.0
jsonschema-specifications==2023.7.1
jupyter_client==8.6.1
jupyter_core==5.7.2
keyring==23.5.0
Kivy==2.2.1
Kivy-Garden==0.1.5
kivymd==1.1.1
kiwisolver==1.4.5
langcodes==3.4.0
language-selector==0.1
language_data==1.2.0
lark==1.1.9
latex==0.7.0
latexify-py==0.4.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
looseversion==1.3.0
louis==3.20.0
lxml==4.9.1
Mako==1.1.3
marisa-trie==1.1.1
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.7
mbstrdecoder==1.1.3
mccabe==0.7.0
mdurl==0.1.2
mercurial==6.1.1
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.3
murmurhash==1.0.10
Naked==0.1.32
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.2.1
nibabel==5.2.1
nipype==1.8.6
numpy==1.26.2
oauthlib==3.2.0
olefile==0.46
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
openpyxl==3.1.2
packaging==21.3
Pallets-Sphinx-Themes==2.0.2
pandas==1.5.1
paramiko==2.9.3
parso==0.8.4
pathlib==1.0.1
pathvalidate==3.1.0
paytm==0.1.8
pexpect==4.8.0
pillow==10.2.0
platformdirs==4.2.1
plotext==5.2.8
pluggy==1.2.0
preshed==3.0.9
problog==2.2.4
prompt-toolkit==3.0.43
prov==2.0.0
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
PyBoolector==3.2.2.20221010.1
pycairo==1.20.1
pycodestyle==2.9.1
pycrypto==2.6.1
pycryptodome==3.19.0
pycups==2.0.1
pydantic==2.7.1
pydantic_core==2.18.2
pydot==2.0.0
pyelftools==0.26
pyflakes==2.5.0
pyflow==0.3.1
Pygments==2.13.0
PyGObject==3.42.1
PyJWT==2.3.0
PyMuPDF==1.23.25
PyMuPDFb==1.23.22
PyNaCl==1.5.0
pynvim==0.4.2
pyparsing==3.0.9
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyrsistent==0.19.1
pyrtl==0.10.2
pyserial==3.5
PySimpleGUI==4.60.5
pytablewriter==1.0.0
pytest==7.4.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-jsonschema-objects==0.4.1
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2024.1
pyucis==0.1.2.2686817964
pyvcd==0.4.0
pyvsc==0.8.0.3304598593
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0
pyzmq==26.0.3
rdflib==7.0.0
referencing==0.30.0
reportlab==3.6.12
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.0
riscof @ git+https://github.com/riscv/riscof.git@108fa2d4e824b3e37fcff82e4fbbb7243127320b
riscv-config==3.13.3
riscv-isac @ git+https://github.com/riscv/riscv-isac.git@db7504037ee611aa5b7e0b40e5207ae4871ef574
rpds-py==0.9.2
rst2pdf==0.99
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
scikit-learn==1.4.2
scipy==1.12.0
screens-py==0.5.0.post2
seaborn==0.13.2
SecretStorage==3.3.1
shellescape==3.8.1
shellingham==1.5.4
shutilwhich==1.1.0
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smartypants==2.0.1
smmap==5.0.0
snowballstemmer==2.2.0
sootty==1.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==5.3.0
sphinx-issues==3.0.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-log-cabinet==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
tabledata==1.3.1
tabulate==0.9.0
tcolorpy==0.1.3
tempdir==0.7.1
thinc==8.2.3
threadpoolctl==3.5.0
tk==0.1.0
tomli==2.0.1
toposort==1.7
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
traits==6.3.2
typepy==1.3.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ucimlrepo==0.0.6
ufw==0.36.1
unattended-upgrades==0.1
Unidecode==0.4.19
urllib3==2.1.0
usb-creator==0.3.7
vbml==1.1.post1
wadllib==1.3.6
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webview==0.1.5
Werkzeug==3.0.1
whichcraft==0.6.1
xdg==5
xkit==0.0.0
zipp==3.10.0
zope.event==4.5.0
zope.interface==5.5.0
