<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Contact Us - ZnH Book Store</title>
     <style>
  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">ZnH Book Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/BookStore/">BookStore</a>
                    </li>
    
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/Meal_Tracker/">Meal Tracker</a>
                    </li> -->
    
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog/">Blog</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" href="/Tracker/">Tracker</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/contact/">Contact Us</a>
                  </li>
                  <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Cart(<span id="cart">0</span>)
                    </button>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    {% csrf_token %}
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'loginn' %}">Logout</a>
                </form>
            </div>
        </div>
    </nav>
<div class="container my-3">
    <h3>Contact Us</h3>
    <form action="/contact/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
        </div>

        <div class="form-group">
            <label for="name">Phone</label>
            <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
        </div>

        <div class="form-group">
            <label for="desc">How May We Help You?</label>
            <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        {% if thank %}
        alert('Thanks for contacting us. We wil get back to you soon!');
        document.location = "/contact/";
        {%endif%}
    </script>
  </body>
</html>